.exercise_two_container {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	.exercise_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 70%;
		height: 100%;
		padding: 20px 0 0 0;
		.exercise_head {
			width: 60%;
			display: flex;
			flex-direction: column;
			.head_text {
				padding: 10px 0 0 0;
			}
		}
		.video_container {
			// padding: 20px 0 0 0;
			width: 50%;
			height: 50%;
		}
		.exercise_body {
			width: 100%;
			padding: 10px 0 0 0;
			position: relative;
			display: flex;
			justify-content:center;
			.swipe_icon {
				position: absolute;
				// margin-left: -30px;
				align-items: center;
				align-self: center;
				display: flex;
			}

			.swipe_icon_hidden {
				display: none;
			}

			.swipe_icon_prev {
				display: flex;
				position: absolute;
				// margin-left: -30px;
				align-items: center;
				align-self: center;
				width: 100px;

			}
			.swipe_text {
				padding: 0 10px 0 10px;
			}

			.swipe_translate {
				transform: rotateZ(180deg);
			}

			.swipe_img {
				width: 25px;
			}

			.video_controls_bar {
				width: 50%;
				margin:0 auto;
				
				.slider {
					-webkit-appearance: none;
					width: 80%;
					outline: none;
				}
				.slider:hover {
					opacity: 1;
				}

				.slider::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: 70px;
					height: 70px;
					border: 0;
					background: url("../../../assets/images/dot_icon.svg");
					background-size: contain;
					cursor: pointer;
				}

				.slider::-moz-range-thumb {
					width: 35px;
					height: 35px;
					border: 0;
					background: url("../../../assets/images/dot_icon.svg");
					background-size: contain;
					cursor: pointer;
				}
			}
		}

		.exercise_footer {
			display: flex;
			flex-direction: column;
			.next_btn {
				width: 60px;
				margin: 20px;
				transform: rotateZ(90deg);
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.exercise_two_container {
			height: unset !important;
		.exercise_content {
			width: 100%;
			justify-content: start;
			.exercise_head {
				width: 90%;
				h1{
					font-size:22px !important;
				}
				.head_text{
					font-size:14px !important;
					padding:10px 20px 0 20px
				}
			}

			.video_container{
				width: 50%;
				height: 50%;
			}

			.exercise_body {
				.exercise_img {
					height: 50vw;
				}
				.video_controls_bar {
					display: flex;
					.slider {
						width: 100%;
					}
					.slider::-moz-range-thumb {
						width: 35px;
						height: 35px;
					}
					.slider::-webkit-slider-thumb {
						width: 55px;
						height: 55px;
					}
				}
			}
			.exercise_footer {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

@media only screen and (min-width: 1500px) {
	.exercise_two_container {
		.exercise_content{
			justify-content: space-evenly;
			.exercise_head {
				width:80%;
				h1{
					font-size:32px !important;
				}
				.head_text {
					font-size:20px !important;
					padding: 10px 0 0 0;
				}
			}

			.video_container{
				width:60%;
				height: 60%;
			}

			.exercise_body {
				padding: 0;
				width: 60%;
			}

			.video_container {
				width: 50%;
			}
		}
	}
}
