.blue-clrob {
    background-color: #fef2ff;
    padding: 20px 0;
}
.blue-clroc {
    background-color: #fff3e0;
    padding: 20px 0;
}
.blue-clrod {
    background-color: #e0ffff;
    padding: 20px 0;
}
.blue-clroe {
    background-color: #fffcca;
    padding: 20px 0;
}
.blue-clrof {
    background-color: #e6ffe4;
    padding: 20px 0;
}.blue-clrog {
    background-color: #fce5e5;
    padding: 20px 0;
}
.blue-clroh {
    background-color: #cffcff;
    padding: 20px 0;
}

.linkk{ color: red; text-decoration: none;}