@import "../../index.scss";

.pts_title_container {
  margin: 0 2em 0em 2em;
  .pts_title_text {
    text-align: left;
    padding-top: 1em;
    font-size: 18px;
    font-weight: 600;
  }
}
.pts_content_container {
  margin: 1em 2em 1em 2em;
  .pts_content_text {
    text-align: left;
  }
}
.pts_table_container {
  table,
  thead,
  th {
    border-collapse: collapse;
    border: none;
    border-bottom: 1px solid white;
  }
  margin: 1em;
  .pts_table {
    .pts_table_head {
      background-color: $background_light_blue;
      .pts_table_head_tr {
      }
      .pts_th > th:first-child {
        background-color: #e68164;
      }
      .pts_th > :nth-child(2) {
        background-color: #cde3b9;
      }
      .pts_th > :nth-child(3) {
        background-color: #f5c39c;
      }
      .pts_table_head_tr > th {
        text-align: left;
        padding-left: 1em;
      }
    }
    .pts_table_body {
      .pts_tr > td:first-child {
        background-color: #e68164;
      }
      .pts_tr > td:nth-child(2) {
        background-color: #cde3b9;
      }
      .pts_tr > td:nth-child(3) {
        background-color: #f5c39c;
      }
      .pts_table_body_tr > td {
        padding: 1em;
        border: none;
        border-bottom: 1px solid white;
      }
    }
  }
}

.pts_head_container {
  margin: 1em;
  .pts_head_text {
    padding-top: 1em;
    font-size: 20px;
    font-weight: 600;
  }
}

.pts_image_container {
  .pts_image {
    width: 80%;
    height: auto;
  }
}

.pts_points_icon {
  font-size: 10px;
}

// ..............

.lfh {
  font-weight: 800;
}

.lfh2 {
  font-weight: 600;
  margin-top: 6px;
}

.blue-clr {
  background-color: #b6deff;
  padding: 12px;
  margin: 0 20px;
  border-radius: 12px;
}

<<<<<<< HEAD
.blue-clrf {
  background-color: #b6deff;
  padding: 12px;
  border-radius: 12px;
  margin: 20px 0 0 0;
  padding-bottom: 22px;
  text-align: left;
}
=======
.blue_box{background-color: #B6DEFF;padding: 12px;border-radius: 12px;margin: 20px 0 0 0;padding-bottom: 22px;}

>>>>>>> ceac9abb4cf1c03f38e49be8a85ffe2a0658a1f2
