@import "../../index.scss";

.page_one_screen {
  .pos_title_container {
    .pos_title_text {
      text-align: center;
      padding:1em;
      padding-right: 3em;
      font-size: 24px;
      font-weight: 600;
    }
  }
  .pos_image_container {
    width: 100%;
    .pos_image_smoking{
      width: 70%;
      height: auto;
    }
    .pos_image {
      width: 80%;
      height: auto;
    }
  }
  .pos_message_container {
    margin: 0em 1em 0 1em;
    .poss_message_text {
      padding: 0em 1em 0em 1em;
      text-align: left;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .pos_sub_title_container {
    margin: 1em;
    .pos_sub_title_text {
      padding: 1em 2em 0 2em;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .pos_points_container {
    margin: 0em 2em 0em 2em;
    .pos_pionts_text {
      font-size: 16px;
      text-align: left;
      .pos_bold_d {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  .pos_points_bottom_container {
    .pos_points_bottom_text {
      padding: 0.5em 0em 0em 1.5em;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
    }
  }

  .pos_remember_title_container {
    margin: 1em;
    .pos_remember_title_text {
      padding-top: 1em;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .pos_time_period_container{
    margin: 1em 2em 0 2em;
    .pos_time_period_text{      
      font-size: 16px;
      font-weight: 600;
      text-align: left;
    }
  }

  .pos_content_container{
    margin: 0 2em 0 2em;
    .pos_content_text{
      font-size: 14px;
      text-align: left;
    }
  }

  .pos_bold_text_container{
    margin:0em 2em 0em 2em;
    .pos_bold_text{
      padding-top: 1em;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .pos_points_icon{
    font-size: 10px;
  }
}
